<div *ngIf="modalService.mostrarModal()" class="abrir-modal animacion fadeIn">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
          <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div *ngIf="cliente" class="row">
                <div class="col-sm-6 mb-3">
    
                  <ul *ngIf="cliente" class="list-group mb-3">
                    <li class="list-group-item">{{ cliente.nombre }}</li>
                    <li class="list-group-item">{{ cliente.apellido }}</li>
                    <li class="list-group-item">{{ cliente.email }}</li>
                    <li class="list-group-item">{{ cliente.createAt }}</li>
                    <li class="list-group-item">{{ cliente.region.nombre }}</li>
                  </ul>
                  
                  <div *ngIf="hasRole('ROLE_ADMIN')" class="input-group">
                    <div class="custom-file">
                      <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04">
                      <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                    </div>
                    <div class="input-group-append">
                      <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button">Subir</button>
                    </div>
                  </div>
    
                </div>
                <div class="col-sm-6 mb-3">
                    <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}" alt="{{cliente.foto}}" class="img-thumbnail rounded">
                </div>
                
                <div *ngIf="progreso > 0" class="col-sm-12">
                  <div class="progress" style="height: 40px;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ width:progreso+'%' }" attr.aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100">
                      {{ progreso }}%
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
              <button type="button" name="crear" [routerLink]="['/facturas/form', cliente.id]" class="btn btn-success btn-sm">Crear Factura</button>
            </div>

            <div class="alert alert-info my-4" *ngIf="cliente.facturas.length <= 0 else elseTableFactura">
              No hay facturas asignadas para el cliente {{cliente.nombre}}
            </div>
            <ng-template #elseTableFactura>
              <div class="row">
                <table class="table table-bordered table-striped my-4">
                  <thead>
                    <th>Folio</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let factura of cliente.facturas"> 
                      <td>{{factura.id}}</td>
                      <td>{{factura.descripcion}}</td>
                      <td>{{factura.createAt}}</td>
                      <td>{{factura.total}}</td>
                      <td>
                        <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/facturas', factura.id]">ver</button>
                      </td>
                      <td>
                        <button class="btn btn-danger btn-sm" type="button" (click)="delete(factura)">Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>