<div class="container">
    <div class="row" style="place-content: center;">
        <div class="col-sm-6">
            <div class="card border-primary" >
                <div class="card-header" style="text-align: center;">
                    {{titulo}}
                </div>
                <div class="card-body" style="text-align: -webkit-center;">
                    <form method="post">
                        <div class="form-group col-sm-10 mb-3">
                            <input [(ngModel)]="usuario.username" type="text" class="form-control" 
                                    name="username" id="username" placeholder="Username" autofocus required>
                        </div>
                        <div class="form-group col-sm-10 mb-3">
                            <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        </div>
                        <div class="form-group col-sm-10">
                            <input (click)="login()" type="submit" style="width: 100%;" class="btn btn-lg btn-primary" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>