<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li style="margin-left: 20px;" *ngFor="let error of errores">
        {{error}}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header"> {{ titulo }}</div>
    <div class="card-body">

        <form #clienteForm="ngForm">
            <div class="form-group row mb-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"  required minlength="4" #nombre="ngModel">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                        <div *ngIf="nombre.errors?.['required']">
                            Nombre requerido
                        </div>
                        <div *ngIf="nombre.errors?.['minlength']">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required  #apellido="ngModel">
                    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                        <div *ngIf="apellido.errors?.['required']">
                            Apellido requerido
                        </div>  
                    </div>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email="true" #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">
                            Email requerido
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Formato invalido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="region" class="col-form-label col-sm-2">Region</label>
                <div class="col-sm-6">
                    <!--
                        Lo que esta en ngModel=cliente.region y ngValue=region es lo que se manda como parametros 
                        a la funcion compararRegion, ya que esta, esta definida con la recepcion de 2 objetos de
                        tipo Region
                    -->
                    <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" >
                        <option [ngValue]="undefined">-- Seleccionar region --</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{ region.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display: inline; width: 300px;">
                    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-sm-6">
                    <button [disabled]="!clienteForm.form.valid" class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlockActualizar">Crear</button>
                    <ng-template #elseBlockActualizar>
                        <button [disabled]="!clienteForm.form.valid" class="btn btn-primary" (click)="actualizar()" role="button">Actualizar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>